.header ul{
	margin-top: 0;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.fixed-bottom{
	position: fixed;
	bottom: 0;
	left:0;
	right: 0;
	width:100%;
}
.fixed-top{
	top:0;
	left:0;
	right: 0;
}
.block-list li{
	display: inline-block;
	margin-right: 8px;
}
.avatar{
	height: 32px;
	width: 32px;
	border-radius: 50%;
	display: inline-block;
	margin-top:0px;	
}

.block-list li a{
	text-decoration: none;
}


.fa-stack{
	height: 3em;
}
a:visited{
	color: black;
}
a{
	color: #666666;
}
.block-list li a:hover{
	text-decoration: underline;
}
main{
	clear: both;
	text-align: center;
}
main>div{
	position: absolute;
	top: 30%;
	left: 30%;
}
.logo{
	width: 269px;
	height: 95px;
}
input[type="search"]{
	width: 520px;
	height: 20px;
	padding: 12px;
}
.buttons{
	padding: 20px;
}
.buttons button{
	margin-right: 20px;
}
footer{
	background: #f2f2f2;
}

.footer .block-list li{
	margin-right: 20px; 
}

